

<div class="modal fade" id="auth-modal">
  <div class="modal-dialog" id='auth-modal-dialog'>
    <div class="modal-content roundish-modal" id='auth-modal-content'>
      <div class="modal-header roundish-modal-top">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 style='margin: 0px;'>Sign In</h4>
      </div>
      <div class="modal-body">
        <div class='row'>

          <div style='padding-right: 70px;'>
            <form style='display: inline;'>
              <div>
                Username
                <input type="text"
                    name="user[username]"
                    class='auth-input'
                    id='user-username'
                    style='margin-bottom: 15px;'>
                <br>
                Password
                <input type="password"
                    name="user[password]"
                    class='auth-input'
                    id='user-password'>

              </div>

              <button type="submit" class='submit btn btn-default sign-in thin'>
                Sign In
              </button>
              <button type='submit' class='submit btn btn-default guest thin'>
                Guest User
              </button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
