<h3><%= user.escape('username') %><h3>





<h5>Solutions:</h5>
<div class='own-solutions'>
</div>

<h5>Upvoted solutions:</h5>

<script>
  $(function() {
    $('.own-solutions').bind('DOMNodeInserted', function(event){
      if (event.target.className === 'solution-view') {
        var editor = ace.edit($(event.target).find('.read-editor').attr('id'));
        editor.setTheme('ace/theme/tomorrow_night_blue');
        editor.setReadOnly(true);
        editor.getSession().setMode('ace/mode/ruby');
      }
    })
  });
</script>
