<h3><%= user.escape('username') %><h3>


<h5>Upvoted solutions:</h5>

<div class='own-solutions'>
</div>

<script>

    $(function() {
      var editor;
      $('.own-solutions').bind('DOMNodeInserted', function(event){
        if (event.target.className === 'read-editor') {
          editor = ace.edit(event.target.id);
          editor.setTheme('ace/theme/tomorrow_night_blue');
          editor.setReadOnly(true);
          editor.getSession().setMode('ace/mode/ruby');
        }

      })
    });

</script>
