<div class='row'>
  <h3><%= user.escape('username') %><h3>
</div>

<div class='row'>
  <div class='col-md-3'>
    <div><h3><a href='#' class='choose-submitter-type' id='own'>own solutions</a></h3></div>
    <div><h3><a href='#' class='choose-submitter-type' id='upvoted'>upvoted solutions</a></h3></div>
    <div><h3><a href='#' class='choose-category'>algorithms</a></h3></div>
    <div><h3><a href='#' class='choose-category'>data-structures</a></h3></div>
    <div><h3><a href='#' class='choose-category'>fundamentals</a></h3></div>
    <div><h3><a href='#' class='choose-category'>logic</a></h3></div>
    <div><h3><a href='#' class='choose-category'>recursion</a></h3></div>
  </div>

  <div class='col-md-8' id='solution-list'>
  </div>
</div>
