<div>
  <a href='#' class='reply'>reply</a>
  <a href='#' class='toggle-comments no-underline'>&plus;</a>
</div>

<div class='indented'>
  <div class='new-comment'>
    <!-- Might have trouble targeting just this selector -->
  </div>

  <div class='comment-list'>
  </div>
</div>
