<div>
  <span style='padding-right: 6px'>
    <a href='#' class='reply'>reply</a>
  </span>
  <a href='#' class='toggle-comments no-underline'>
    comments
  </a><span style='padding-left: 2px; font-size: 14px;'>(<%= numComments %>)</span>


</div>

<div class='indented'>
  <div class='new-comment'>
    <!-- Might have trouble targeting just this selector -->
  </div>

  <div class='comment-list'>
  </div>
</div>
