<div class='comment-header'>
  <span><a href='#'><%= comment.escape('submitter') %></a></span>
  <span class='time'><%= comment.escape('time_ago') %></span>
  <!-- <span><a href='#'>upvote</a></span> -->
</div>
<div class='comment-body'>
  <%= comment.escape('content') %>
</div>
