<h1>New Problem</h1>
<form action='<%= problems_url %>' method='POST'>
  <%= auth_token %>
<div align='left'>
  <label>
    Title
    <input name='problem[title]' type='text'>
  </label>
  <br>

  
    Description
    <br>
    <textarea name='problem[description]'rows="8" cols="60"></textarea>
    <br>

    Test Cases
    <br>
    <textarea name='problem[test_cases]'rows="8" cols="60"></textarea>
    <br>

    Solution Cases
    <br>
    <textarea name='problem[solution_cases]'rows="8" cols="60"></textarea>
    <br>

  <input type='hidden' 
      name='problem[submitter_id]' 
      value='<%= current_user.id %>'>  
  

  <input type='submit' value='Create Problem'>
</input>
</div>

<br>

<%= link_to "Problems index", problems_url %>