<div class='row'>
  <div class='col-centered col-md-4 col-offset-md-4'>
  <h1 align='center' class='title'>idiom</h1>
    <h4>Sign Up</h4>

    <form action="<%= users_url %>" method="post" role='form'>
      <%= auth_token %>

      <div class='form-group'>
        <label for='user-username'>Username</label>
        <input type="text"
            name="user[username]"
            class='form-control roundish'
            id='user-username'>
      </div>

      <div class='form-group'>
        <label for='user-password'>Password</label>
        <input type="password"
            name="user[password]"
            class='form-control roundish'
            id='user-password'>
      </div>

      <button
        type="submit"
        class='btn btn-default submit'
        align='center'>Sign Up</button>
    </form>
  </div>
</div>
