<h2>New Problem</h2>

<form>
  <label>
    Title
    <input name='problem[title]' type='text'>
  </label>
  <br>

  
    Description
    <br>
    <textarea name='problem[description]'rows="8" cols="60"></textarea>
    <br>

    Solution Cases
    <br>
    <input name='solution_cases[1][content]' type='text' size='60'>
    <br>

    <br>
    <input name='solution_cases[2][content]' type='text' size='60'>
    <br>
  

  <button class='submit'>Create Problem</button>
</form>