<h2 class='left-margined'>New Problem</h2>

<form style='display: inline;'>
  <label>
    Title
    <input id='title' class='roundish' name='problem[title]' type='text'>
  </label>
  <br>
    Description
    <br>
    <textarea id='description' class='roundish' name='problem[description]'rows="6" cols="60"></textarea>
    <br>

    solution_spec:
    <br>
    <textarea id='solution' class='roundish' name='problem[solution_spec]' rows='3' cols='60'></textarea>
    <br>
    example spec:
    <br>
    <textarea id='example' class='roundish' name='problem[example_spec]' rows='3' cols='60'></textarea>
    <br>

    <div>
      <span class='right-margined left-margined'>Category: <%= options.category %></span>
      <span class='right-margined'>Rank: <%= options.rating %></span>
    </div>

    <input type='hidden' name='problem[category]'>
    <input type='hidden' name='problem[rating]'>
  <button class='submit btn btn-default'>Create Problem</button>
</form>

<button id='show-solutions' class='demo-problem btn btn-default roundish' style='display: inline;'>
  Demo Problem
</button>
