<h2>New Problem</h2>

<form>
  <label>
    Title
    <input name='problem[title]' type='text'>
  </label>
  <br>


    Description
    <br>
    <textarea name='problem[description]'rows="6" cols="60"></textarea>
    <br>

    <!-- Example Spec:
    <div class="editor" id='example-spec'>
      #It squares its target:
      tron(4) == 16

      #It is positive
      tron(5) > 0
    }</div>

    Solution Spec:
    <div class="editor" id='solution-spec'>
      tron(4) == 16
      tron(5) > 0
    }</div>
    <br>

    <input name='problem[solution_spec]' type='hidden'>
 s
    <input name='problem[example_spec]' type='hidden'> -->
    solution_spec:
    <br>
    <textarea name='problem[solution_spec]' rows='4' cols='60'></textarea>
    <br>
    example spec:
    <br>
    <textarea name='problem[example_spec]' rows='4' cols='60'></textarea>
    <br>

  <button class='submit btn btn-default'>Create Problem</button>
</form>
