  <h1><%= problem.get('title') %></h1>
  <p><%= problem.get('description') %></p>
  <h4>Example spec:</h4>
  <div id='example-spec'><%= problem.escape('example_spec')%></div>

  Your solution:
  <div id="editor">def foo(args)
  #Your code here
end</div>

  <form style='display: inline;'>
      <input type='hidden'
          name='solution[problem_id]'
          value='<%= problem.get('id') %>'>

      <input type='hidden' name='solution[content]' id='solution'>
    <button class='btn btn-default submit'>Submit</button>
  </form>

  <button
      id='show-solutions'
      class='show-solutions btn btn-default roundish'>
      View Solutions
  </button>

  <!-- <button
      id='other-modal'
      class='show-solutions btn btn-default roundish'
      data-toggle="modal" data-target="#otherModal">
      Other modal
  </button> -->


<div class="modal fade" id="submit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <div id='response-message'>
        </div>

        <div class="spinner">
          <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>

          <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>

          <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<script>
  $(function() {
    App.editor = App.geditor('example-spec');
    App.editor = App.geditor('editor');

    $('#response-message').bind('DOMNodeInserted', function(event){
      if (event.target.className === 'solution-view') {
        var seditor = ace.edit($(event.target).find('.read-editor').attr('id'));
        seditor.setTheme('ace/theme/tomorrow_night_blue');
        seditor.setReadOnly(true);
        seditor.getSession().setMode('ace/mode/ruby');
      }
    })
  });
</script>
