<div class='col-xs-4'>
  <h1><%= problem.get('title') %></h1>
  <p><%= problem.get('description') %></p>
  <h4>Test cases:</h4>
  <ul>
    <li>Associations have to be handled a little differently</li>
  </ul>
  
  Your solution:
  <div id="editor">function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
  }</div>

  <form>
      <input type='hidden'
          name='solution[submitter_id]'
          %>'>
    
      <input type='hidden'
          name='solution[problem_id]'
          value='<%= problem.get('id') %>'>
    
      <input type='hidden' name='solution[content]' id='solution'>
    <button type='submit' class='btn btn-sm btn-secondary'>Submit</button>
  </form>
  
  <h4>Solutions</h4>
  <p>Another collection we have to handle explicitly</p>

  <a href='#'>Problems Index</a>
  
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/ruby");
</script>
