<!DOCTYPE html>

<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">idiom</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href='#/profile' id='profile'>set_by_jquery</a><li>
        <li><a href='#' id='sign-out'>sign out</a></li>
        <li><a href='#/' id=>Problems</a></li>
        <li><a href='#' id='sign-in'>Sign In</a></li>
        <li><a href='#' id='sign-up'>Sign Up</a></li>
      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class='container'>
    <div class='row'>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>

<script>
  $(function(){
    $('#sign-out').on('click', function() {
      $.ajax({
        url: 'api/session',
        type: 'DELETE',
        success: function() {
          App.user = null;
          App.signedOutNavbar();
          //another callback that updates the status bar
        }
      })
    })
    $('#sign-in').on('click', App.popAuthModal);
    $('#sign-up').on('click', App.popAuthModal);
  })
</script>
